fastapi==0.109.2
uvicorn==0.27.0
cryptography==42.0.2
eciespy==0.4.1
requests==2.31.0
httpx==0.26.0
python-multipart==0.0.9
pydantic==2.6.1
rich==13.7.0
pytest==8.0.0
pytest-asyncio==0.23.5
typing-extensions>=4.6.0
